.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  box-sizing: border-box; /* Include padding in the element's total width and height */
  z-index: 1; /* Ensure the text overlay is above the image */
}

.text-first-image {
  font-size: 2rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.estimate-button,
.callback-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sub-text {
  font-size: 1.2rem;
  color: white;
  line-height: 1.5;
}
.aboutus{
  margin-top:20px;
  width: 70%;
  position: relative;
  top:-6rem;
  background: #1A1A1A;
  padding-bottom: 4rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right:1rem;
}
.aboutus-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}
.aboutus-logo{
  max-width: 100%;
  width: 15rem;
  padding-bottom:5px;
   filter: brightness(0) invert(1); /* Change the image to white */

}
.aboutus-text{
  text-align: center;
}
.card {
  border: 1px solid black; /* Change border-color to border */
  margin-bottom: 15px;
  margin: -1px; /* Add negative margin to the card */
  box-sizing: border-box; /* Include border in the element's total size */
}

.card-header:hover {
  background-color: #f8f9fa; /* Change the background color on hover */
}
.card:hover {
  background-color: #f8f9fa; /* Change the background color on hover */
}
.card-header {
  background-color: white;
  border: none;
  transition: background-color 0.3s;
}
.btn-block.text-left {
  text-decoration: none; /* Remove underline */
}
.btn-block {
  text-align: left;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  color:black;
  background-color: white;
  border: none;
}



.slides{
  height: 150px; /* Set a fixed height for the carousel items */
  display: flex; /* Ensure the items are displayed as flex containers */
  flex-direction: column;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.stars {
  display: flex;
  flex-direction: row;
}
.sub-text {
  font-size: .8rem;
  color: white;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* ABOUT US */
.faq{
  text-align: center;
}
.faq-list {
  max-width: 90%;
  padding-left:10px;
  display:grid;
  grid-template-columns: repeat(1, 1fr); /* Create a grid with 2 columns */
  gap: 20px; /* Add spacing between button blocks */
}
/*SERVICES */
.services{
  padding-top: 50px;
  width:70%;
}
.services-heading{
  text-align: center;
  padding-bottom: 20px;
}
.services-card-images{

}
.services-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
.card-class{
  padding:5px;
}
.service-sections{
  padding:5px;
  text-align: center;
  margin:10px;
}
.subheadings{
  padding-top: 5px;
}
.packing-service{
  flex: 1;

}
.storage-service{
  flex: 1;

}
.home-removal-service{
  flex: 1;

}
.single-item-service{
  flex:1;
}
.courier-service{
  flex:1;
}
.in-house-move-service{
  flex:1;
}

.faq{
  margin: 10px;
  width:80%;
  margin-bottom:20rem;
}

.review{
  width: 100%;
  display:flex;
  flex-direction: column;
  background-image: url('./assets/background_pattern_1.jpg');
  align-items: center;
  padding-bottom:100px;
  margin-bottom: 50px;
  padding-top:50px;
  margin-top:10rem;
}
.review-content{
  display: flex;

}
.review-heading{
  color:white;
  padding-bottom:50px;
}
.reviewPic{
  max-width: 25rem;
  min-width: 25rem;
  max-height: 13rem;
  min-height: 13rem;
  border-radius:25px;
}
.review-button {
background-color: transparent;
border: none;
color: white;
cursor: pointer;
padding: 0.5rem;
font-size:20px;
color: lightgrey;
}

.review-button span {
font-size: 1.5rem;
color: white; /* Customize arrow color */
}
.home {
  min-height: 80vh;
  background-image: url('./assets/seb-creativo-3jG-UM8IZ40-unsplash2.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover; /* Cover the entire background with the image */
  background-position: center; /* Center the background image */
  width:100%;
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.home-content{
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-left-content {
  display: flex;
  flex-direction: column;
  flex:2;
  padding: 10px;
  align-items: center;
}
.home-left-text{
  flex:1;
  margin-bottom:5rem;
}
.home-quote-button {
  flex:1;
  color: white; /* Set the text color to white */
  display: block;
  border-radius: 10px;
  border: none; /* Remove the border */
  border-color: black;
  font-weight: 400;
  font-size: 20px;
  width: 20%;
  background-color: black;
  padding: 30px 30px;

}
.home-right-content {
  flex:1;
  padding:50px;
  background-image: url('./assets/background_pattern_1.jpg');
  margin:20px;

}
.home-subheading{
  color:white;
  text-align: center;
  padding-bottom: 20px;
  font-size: 25px;
}

.home-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-inputs{

}
.home-boxes{
  margin:5px;
}
.home-button{
  display: block;
  border-radius: 10px;
  font-weight: 500;
  width:80%;
  margin:auto;
  background-color: white;
  margin-top: 20px;
  padding: 5px;
}


/*                       */
@media (max-width:768px) {

  .aboutus{
    margin-top:20px;
    width: 100%;
    position: relative;
    top:-2rem;
    background: #1A1A1A;
    padding-bottom: 4rem;
    border-radius: 1rem;
    padding-left: 0rem;
    padding-right:0rem;
  }
  .aboutus-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    padding:10px;
  }
  .aboutus-logo{
    max-width: 100%;
    width: 15rem;
    padding-bottom:5px;
     filter: brightness(0) invert(1); /* Change the image to white */

  }
  .aboutus-text{
    text-align: center;
  }


  .app-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .home {
    min-height: 80vh;
    background-image: url('./assets/seb-creativo-3jG-UM8IZ40-unsplash2.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
    background-size: cover; /* Cover the entire background with the image */
    background-position: center; /* Center the background image */
    width:100%;
    display: flex; /* Add flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  .home-content{
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home-quote-button {
    display: none;
  }
  .home-left-content {
    width: 80%;
    margin: auto;
    flex:1;
    padding: 10px;
  }
  .home-left-text{
    padding-top: 50px;
  }
  .home-right-content {
    flex:1;
    padding:50px;
    background-image: url('./assets/background_pattern_1.jpg');
    margin:20px;

  }
  .home-subheading{
    color:white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
  }

  .home-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-inputs{
    background-color: lightgrey;
    border-color: lightgrey;
  }
  .home-boxes{
    margin:5px;
  }
  .home-button{
    display: block;
    border-radius: 10px;
    font-weight: 500;
    width:80%;
    margin:auto;
    background-color: white;
    margin-top: 20px;
    padding: 5px;
  }


  .services{
    padding-top: 50px;
    width:100%;
  }
  .services-heading{
    text-align: center;
    padding-bottom: 20px;
  }
  .services-card-images{

  }
  .services-list{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;

  }
  .card-class{
    padding:5px;
  }
  .service-sections{
    padding:5px;
    text-align: center;
    margin:0px;
  }
  .subheadings{
    padding-top: 5px;
  }
  .packing-service{
    flex: 1;

  }
  .storage-service{
    flex: 1;

  }
  .home-removal-service{
    flex: 1;

  }
  .single-item-service{
    flex:1;
  }
  .courier-service{
    flex:1;
  }
  .in-house-move-service{
    flex:1;
  }
  .review-content{
    padding-top:50px;
    display: flex;
    flex-direction: row;

  }
  .reviewPic{
    padding:10px;
    max-width: 25rem;
  }

  .faq{
    margin: 10px;
    width:95%;
  }
}
