
.heading {
  text-align: center;
}
.total {
  text-align:center;
}

.input-container input {
  display: grid;
  text-align: center;
  align-items: center;
  padding: 8px; /* Adjust the padding value as needed */
  /* Add any other desired styles */
}

.section {
  display: grid;
  text-align: center;
  justify-content: center;
}


.estimate {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equally sized columns */
  padding: 10px;
  border: 2px solid #ccc; /* Border style, color, and width */
  padding: 20px; /* Add some padding to create space between the content and the border */
  border-radius: 5px; /* Rounded corners for the border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 20px;

}
@media (max-width: 768px) {
  .estimate {
    display: flex;
    flex-direction: column;

  }

  /* Center the input containers horizontally */
}
