/*Main form styling */
.Estimate {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.heading {
  margin-top:50px;
}
.form {
  border: 2px solid #ccc; /* Border style, color, and width */
  padding: 20px; /* Add some padding to create space between the content and the border */
  border-radius: 5px; /* Rounded corners for the border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-top:30px;
}

/*Personal details */
.customer-name {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;

}
.customer-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-subheading {
  border-bottom: 1px inset #ddd; /* Adjust the border properties as needed */
  display: flex; /* Ensure the underline spans the entire width of the container */
  padding-bottom: 5px; /* Add some space between the text and the underline */
}
.input-boxes {
  margin:5px;
}

/*Address details*/
.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.address-subinfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.boxSupplyAmount {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



/*TESTING */
.button-group-test{
  display: block;
  width:25%;
}
.button-group-test2{
  display: flex;
  width: 75%;
  margin:0 auto;
}

.survey-picker{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.button-picker-groups {

}
.room-button{
  padding:20px;
}
