.custom-navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;

}
.navbar-content{
  display:flex;
  justify-content: space-between;
  width:80%;
  margin:auto;
}
.navbar-right-content{
  display:flex;
  flex-direction: row;
}
.callbanner-button{
  border-radius: 25px;
  font-size: 1.5rem;
  border-color: white;
  background-color: black;
  color: white;
}
.navbar-services{
  color:white;
}
.navbar-logo {
  max-width: 100%;
  width: 8rem; /* Example width */
  filter: brightness(0) invert(1); /* Change the logo to white */
  padding-bottom:5px;
  padding-top:5px;
}
