.custom-navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;

}
.navbar-content{
  display:flex;
  justify-content: space-between;
  width:80%;
  margin:auto;
}
.navbar-right-content{
  display:flex;
  flex-direction: row;
}
.navbar-button{
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 30px;
  border-color: black;
  font-size: 14px;
  font-weight:500;
  padding:10px 12px;
  border-color: white;
  background-color: white;
  color: black;
  white-space: nowrap;
}
.navbar-services{
  color:white;
}
.navbar-logo {
  max-width: 100%;
  width: 8rem; /* Example width */
  filter: brightness(0) invert(1); /* Change the logo to white */
  padding-bottom:5px;
  padding-top:5px;
}
